<!doctype html>
<html>

  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  
  <body>
    <h1> The Acme Co.</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashed">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <footer>
      {% block footer %}
        <p></p>
        &copy; Copyright 2017 by <a = href="http://acemeco.com">Acme Co.</a>
      {% endblock %}
    </footer>
  </body>
  

</html>
